@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";

body, html {
	height: 100%;
	width: 100%;
	font-size: 18px;
	color: #545454;
}
#top {
	width: 100%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
	padding: 0 20px;
	.sticky-wrapper {
		position: relative;
		top: 50%;
		@include translate(0,-50%);
	}
	.logo {
		position: relative;
		top: 50%;
		left: 50%;
		@include translate(-50%,-50%);
		width: 100%;
		max-width: 320px;
	}
	header {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 999;
		padding: 12px;
		display: none;
		background-color: white;
		box-shadow: 0 0 24px 17px rgba(255,255,255,1);
		text-align: center;
		img {
			width: 100%;
			max-width: 160px;
		}
	}
}
header.featured-header {
	width: 100%;
	padding: 12px;
	background-color: white;
	box-shadow: 0 0 24px 17px rgba(255,255,255,1);
	text-align: center;
	img {
		width: 100%;
		max-width: 160px;
	}
}
#bio, #links, #featured-publication {
	padding: 72px 5px;
	.book-cover {
		text-align: center;
		margin-bottom: 36px;
	}
	.bio {
		@media (max-width: 767px) {
			margin-bottom: 36px;
		}
	}
	.pic {
		text-align: center;
		img {
			width: 100%;
			height: auto;
		}
	}
	.bio-pic {
		max-width: 290px;
	}
}
#links {
	[class*=col] {
		text-align: center;
	}
	.link {
		text-align: center;
		font-family: "Times", serif;
		font-weight: bold;
		margin-bottom: 72px;
		h2 {
			font-size: 32px;
		}
		h3 {
			font-size: 26px;
		}
		a {
			color: #3d9fab;
			font-style: italic;
			border-bottom: 1px solid #3d9fab;
			&:hover {
				text-decoration: none;
			}
		}
		i {
			font-style: italic;
			color: #999999;
			border-left: 1px solid #999999;
			padding-left: 6px;
			margin-left: 2px;
		}
	}
}
.row {
	max-width: 960px;
	margin: 0 auto;
}
img {
	max-width: 100%;
}